/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 108px;
	height: 39px;
}
body {
	margin-top: 160px;
}
nav {
	width: 804px;
	margin: 0 auto;
}
nav:before,
nav:after {
  content: "";
  display: table;
}
nav:after {
  clear: both;
}
nav {
  clear: both;
  *zoom: 1;
}
nav img {
	float: left;
}
nav ul {
	float: right;
	position: relative;
	top: 18px;
	right: 10px;
}
nav ul li {
	display: inline-block;
}
nav a {
	text-decoration: none;
	color: #333;
}
#sign {
	font-weight: bold;
	border-right: 1px solid #e2e2e2;
	padding-right: 10px;
}
#log {
	padding-left: 10px;
}
main {
	width: 804px;
	margin: 0 auto;
	background-color: white;
	border: 1px solid #e2e2e2;
	margin-top: 10px;
	box-shadow: 1px 3px 8px rgba(0,0,0,.2);
}
main:before,
main:after {
  content: "";
  display: table;
}
main:after {
  clear: both;
}
main {
  clear: both;
  *zoom: 1;
}
main .fill {
	float: left;
	width: 65.91%;
	margin-left: 55px;
	box-sizing: border-box;
	border-right: 1px solid #e2e2e2;
}
main .fill h1 {
	font-size: 30px;
}
main .fill p {
	font-size: 11px;
}
main h1 {
	margin-top: 42px;
	line-height: 150%;
}
main span a {
	color: #45cae6;
	text-decoration: none;
}
main aside {
	float: right;
	width: 34.09%;
	position: relative;
	bottom: 730px;
	left: 85px;
}
aside h2 {
	font-weight: bold;
	margin-bottom: 8px;
}
aside ul {
list-style-type: disc;
color: #a5a5a5;
}
aside li {
	margin-bottom: 15px;
	line-height: 20px;
}
aside span a {
	text-decoration: underline;
	color: #333;
}
form label {
	display: block;
	margin-bottom: 20px;
	margin-top: 30px;
}
input[type="email"], input[type="tel"], input[type="password"] {
	width: 321px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid #e2e2e2;
}
input[type="email"]:focus, input[type="tel"]:focus, input[type="password"]:focus {
	outline: none;
}
input[type="submit"] {
	width: 115px;
	height: 35px;
	color: white;
	font-size: 14px;
	background-color: #45cae6;
	border: none;
	border-radius: 2px;
	margin-bottom: 10px;
	background-image: url("https://accounts.intuit.com/IUS-Plugins/v2/images/icon-whitelock@3x.png");
	background-repeat: no-repeat;
	background-size: 11px 16px;
	background-position: 10px;
}
input[type="checkbox"] {
	margin-right: 5px;
}
#password {
	background-image: url("https://images.mint.com/web-client/images/icons/mint/icon-lock_open-gray2.svg");
	background-repeat: no-repeat;
	background-size: 18px 15px;
	background-position: right center;
}
footer ul {
	width: 662px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 50px;
}
footer a {
	text-decoration: none;
	color: #a5a5a5;
	font-size: 13px;
}
footer a:hover {
	text-decoration: underline;
}
footer li {
	display: inline-block;
	border-right: 1px solid #e2e2e2;
	padding-left: 20px;
	padding-right: 20px;
}
footer p {
	width: 472px;
	margin: 0 auto;
	color: #a5a5a5;
	font-size: 13px;
}
footer span a {
	color: #45cae6;
	text-decoration: none;
}
footer span a:hover {
	text-decoration: none;
}
#security ul {
	width: 260px;
	margin: 0 auto;
	margin-top: 115px;
}
#security li {
	display: inline-block;
	border: none;
	position: relative;
	left: 170px;
}
#security img {
	width: 97px;
	height: 50px;
}
#copy ul {
	width: 220px;
	margin: 0 auto;
}
#copy li {
	display: inline-block;
	color: #a5a5a5;
	font-size: 11px;
	position: relative;
	left: 190px;
}
#loc {
	border-right: none;
}